//- stars
mixin rating(stars, date)
  ul.review__customer-rate__stars
    - for (var i = 0; i < stars; i++)
        li(class="fas fa-star")
    - for (var i = 0; i < 5 - stars; i++)
        li(class="far fa-star")
  p.review__customer-rate__date= date

//- rewiev slider
mixin review(customerName, customerPhoto, stars, date, customerText, workPhoto1, workPhoto2, workPhoto3)
  .review__container
    p.review__header Оконский
    hr.review__line
    .review__main
      img.review__customer-photo(src=customerPhoto)
      .review__customer-content
        p.review__customer-name=customerName
        .review__customer-rate
          +rating(stars, date)
        .review__customer-wrapper
          p.review__customer-text=customerText
          .review__balcony-photo
            if(workPhoto1)
              img(src=workPhoto1)
            if(workPhoto2)
              img(src=workPhoto2)
            if(workPhoto3)
              img(src=workPhoto3)

//- configuration row
mixin row(name, price)
  li.configuration__item
    .configuration__item__row
        p.configuration__item__name=name
        p.configuration__item__price=price
    hr.configuration__item__line

//- configuration item
mixin item(src, name)
  .configuration__container
    img.configuration__photo(src=src)
    .configuration__content
        p.configuration__title=name
        ul.configuration__list
          if block 
            block

mixin profile(flag, brand, text, price, subscrip1, subscrip2, subscrip3)
  li.profiles__elem
    .profiles__wrapper
        .profiles__content
            .profiles__text
                .profiles__brand-block
                    img.profiles__brand-img(src = flag)
                    p.profiles__title=brand
                p.profiles__subtitle=text
                p.profiles__price Цена за м²
                p.profiles__price-field=price
            img.profiles__img(src = '/src/assets/png/window.png')
        ul.profiles__indicator-list
            li.profiles__indicator-elem
                p.profiles__subtitle.profiles__subtitle_margin=subscrip1
                img.profiles__indicator-img.profiles__indicator-img_margin.profiles__indicator-img_temperature(src = '/src/assets/png/svg/temperature.svg')
                .profiles__indicator-blank
                    .profiles__indicator-filled.profiles__indicator-filled_orange
            li.profiles__indicator-elem
                p.profiles__subtitle.profiles__subtitle_margin=subscrip2
                img.profiles__indicator-img.profiles__indicator-img_margin.profiles__indicator-img_sound(src = '/src/assets/png/svg/sound.svg')
                .profiles__indicator-blank
                    .profiles__indicator-filled.profiles__indicator-filled_green
            li.profiles__indicator-elem
                p.profiles__subtitle.profiles__subtitle_margin=subscrip3
                img.profiles__indicator-img.profiles__indicator-img_margin.profiles__indicator-img_light(src = '/src/assets/png/svg/light.svg')
                .profiles__indicator-blank
                    .profiles__indicator-filled.profiles__indicator-filled_yellow
        .profiles__button 
            button.open-popup Заказать со скидкой